{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block authorization %}

{% if validlink %}

<p class="text-center"> Введи новый пароль, Брат! </p>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <form method="post">
        <fieldset class="module aligned">
          <div class="form-row field-email">
            {{ form.email.errors }}

            {% csrf_token %}
            {{ form|crispy }}

          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">Восстановить пароль</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% else %}

<p> Ссылка для сброса пароля недействителен. Повторите попытку восстановления пароля </p>

{% endif %}

{% endblock %}
