{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title%} Профиль {%endblock%}
{% block headline %} Ваш профиль {% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="{% url  'profile' %}">Профиль</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Изменить</a>
            </li>

          </ul>
        </div>
        <div class="card-body">

          <form action="{% url 'profile_update' %}" method="post" enctype="multipart/form-data" >

            {% csrf_token %}

            {{ form_with_basic_data.media }}
            {{ form_with_basic_data|crispy }}

            {{ form_with_advanced_data.media }}
            {{ form_with_advanced_data|crispy}}

            <button type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">Изменить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
