{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block authorization %}

<p class="text-center">Забыли пароль? Введите email (который вы указывали при регистрации) и мы вышлем вам ссылку для смены пароля </p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <form method="post">
        <fieldset class="module aligned">
          <div class="form-row field-email">
            {{ form.email.errors }}
            {% csrf_token %}
            {{ form|crispy }}
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">Отправить код</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}
